<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>santaFlask</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="centre">
        <h1>santaFlask</h1>
        <p>A website for you and your friends/family/associate employee contemporaries to use to decide who gives a gift to who. No peeking!</p>
        <p>In the box below, type everyone's names, separated by commas.</p>
        <form action="/generate" method="get">
            <textarea name="people" id="people"></textarea>
            <input type="submit" value="Submit">
        </form>
        <p>Find this project on <a href="https://github.com/onlytruejames/santaFlask">Github</a>!</p>
        <p>Created by <a href="https://sodit.xyz" target="_blank">James</a></p>
    </div>
</body>
</html>